<h1>Welcome to the hocus_pocus dummy test app</h1>
<p>
	This is the default for testing in-browser <strong>hocus_pocus</strong> features.
</p>
<p>
	<strong>hocus_pocus</strong> allows you to run Rails commands from your browser.
</p>
<h2>Generating scaffolds</h2>
<p>
	Enter an URL in which there's no corresponding action:
</p>
<p class="example">
	http://localhost:3000/inexistent_controller/this_action_surely_does_not_exist
</p>
<p>
	Since this action won't exist, there will appear a html form for scaffolding
	that action without the need to open your terminal.
</p>
